afl-out
.afl-showmap*
build/build*
build/compile*
build/executable
build/gradle*
*.generated
.git
.gradle
gradle*
gradlew.bat
.idea
log
run
*.swp
tmp
crash-*
jacoco*.exec
javafuzz
nohup.out
.scannerwork
html
run
benchmark_results/sp2b/*.n3
fs
mnt
x
*.cov
f
g
tmpparams
proguard
