stale_outputs_checked
*.cov
*.generated
*.swp
.gradle
.idea
.scannerwork
build
build-cache
build.gradle.kts
crash-*
html
log
nohup.out
proguard
resources/binary/config2
run
settings.gradle.kts
src/xxx_generated_xxx/
tmp
tmpparams
x
afl.*.log
erroredTests
external_jvm_dependencies
src/Spa-Client/app/scripts/algos/samples/*

