afl.*.log
blazegraph.jnl
build
build-cache
build.gradle.kts
*.cov
crash-*
erroredTests
external_jvm_dependencies
*.generated
.gradle
html
.idea
log
nohup.out
proguard
resources/binary/config2
rules.log
run
.scannerwork
settings.gradle.kts
src/xxx_generated_xxx/
stale_outputs_checked
*.swp
tmp
tmpparams
x
dist-js
