{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->MultiMap"
  echo "TripleStore->BPlusTree"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->Bisection"
  echo "Map->Bisection"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->None"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->true"
  echo "IteratorDebug->EPOPDebugMode.NONE"
} | ./generate-buildfile.kts

{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->ObjectMap"
  echo "TripleStore->BPlusTree"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->Bisection"
  echo "Map->Bisection"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->None"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->false"
  echo "IteratorDebug->EPOPDebugMode.NONE"
} | ./generate-buildfile.kts
{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->MultiMap"
  echo "TripleStore->MapMapList"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->Bisection"
  echo "Map->Bisection"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->None"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->true"
  echo "IteratorDebug->EPOPDebugMode.NONE"
} | ./generate-buildfile.kts
{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->MultiMap"
  echo "TripleStore->SingleList"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->Bisection"
  echo "Map->Bisection"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->None"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->true"
} | ./generate-buildfile.kts
{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->MultiMap"
  echo "TripleStore->MapMapList"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->BTree"
  echo "Map->Bisection"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->Ktor"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->true"
  echo "IteratorDebug->EPOPDebugMode.NONE"
} | ./generate-buildfile.kts
{
  echo "KotlinVersion->1.4.255-SNAPSHOT"
  echo "Platform->jvm"
  echo "Launch->SparqlTestSuite"
  echo "Sanity->On"
  echo "Execution->Sequential"
  echo "BufferManager->Heap"
  echo "Dictionary->MultiMap"
  echo "TripleStore->MapMapList"
  echo "Endpoint->Korio"
  echo "Jena->On"
  echo "Set->Bisection"
  echo "Map->BTree"
  echo "OutputFormat->Empty"
  echo "EnumerateBnodes->false"
  echo "Pagesize->8196"
  echo "BlockCapacity->1024"
  echo "BTreeBranching->512"
  echo "MergeSortRows->512"
  echo "BulkImportBlockSize->8"
  echo "AdvancedOptimisation->true"
  echo "Coverage->ECoverage.Count"
  echo "CoverageGenerate->DontChange"
  echo "ServerCommunication->Sockets"
  echo "MaxTriplesDuringTest->2000"
  echo "ConnectionPool->Off"
  echo "Inline->Off"
  echo "UsePartitions->true"
  echo "IteratorDebug->EPOPDebugMode.NONE"
} | ./generate-buildfile.kts
