path.link {
    fill: none;
    stroke: #999;
}
line {
    stroke: #999;
}
circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 12px sans-serif;
    /*pointer-events: none;*/
}

rect{
    /*fill : #ccc;*/
    stroke : #333;
    stroke-width: 1px;
}

.node {
    cursor: pointer;
}
.node rect {
    fill: skyblue;
    stroke: #333;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #777;
}
#container div{
    float:left;
}
.chartSpace div{
    float:left;
}

#normal{
    fill: #777;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.node text { font: 12px sans-serif; }
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
