body>.inner {
    display: none;
}

body.pg-loaded>.inner {
    display: block;
}

.pg-loading-screen {
    color: white;
}

.loading-title {
    font-size: 40px;
}

.sk-spinner-cube-grid {
    /*
     * Spinner positions
     * 1 2 3
     * 4 5 6
     * 7 8 9
     */
}

.sk-spinner-cube-grid.sk-spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.sk-spinner-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-spinner-cube-grid.dark .sk-cube {
    background-color: #008CBA;
}

.sk-spinner-cube-grid .sk-cube:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(4) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(5) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(6) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(7) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(8) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(9) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.CodeMirror {
}

.sparql-prefix {
    font-weight: 600;
}

.results em {
    font-style: normal;
    color: #222;
}

.results td.uri {
    color: #888;
}

path.link {
    fill: none;
    stroke: #999;
}

line {
    stroke: #999;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 12px;
    /*pointer-events: none;*/
}

rect {
    /*fill : #ccc;*/
    stroke: #333;
    stroke-width: 1px;
}

.node {
    cursor: pointer;
}

.node rect {
    fill: skyblue;
    stroke: #333;
    stroke-width: 1.5px;
}

.node text {
    font: 10px;
}

.link {
    fill: none;
    stroke: #777;
}

#container div {
    float: left;
}

.chartSpace div {
    float: left;
}

#normal {
    fill: #777;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

body {
}

.rowSettings {
    display: flex;
}

.columnSettings {
    flex: 50%;
}

.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #008CBA;
    color: #fff;
}

.name {
    width: 225px;
}

li.name img {
    width: 45px;
    float: left;
    margin-right: 5px;
}

.side-nav {
    width: 3%;
    float: left;
    margin-left: -3%;
}

.side-nav ul {
    list-style: none;
    margin: 0;
}

.side-nav li a:not(.button) {
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

.side-nav svg {
    width: 17px;
    height: 17px;
}

.toggle:hover {
    cursor: pointer;
}

ul.off-canvas-list li label {
    background: #008cba;
    color: #fff;
    border-top: 1px solid #007095;
}

.right-small {
    border-left: 1px solid #007095;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: #007095;
}

.buttonarea {
    text-align: right;
}

.buttonarea .button {
    margin-left: 5px;
}

.columns {
    border: solid 1px #ccc;
    background-color: #FFF;
}

.columns:last-child {
    border-left: none;
}

.main-section.full>.row {
    max-width: none;
}

.main-section.full .off-canvas-wrap {
    width: 94%;
}

.main-section.full .side-nav {
    margin-left: 0;
}

.side-nav-right {
    float: right;
    margin-right: 10px;
    margin-top: -455px;
    width: 35px;
}

.side-nav-right img {
    width: 20px;
    margin-left: 10px;
}

select {
    width: 100%;
}

#pitchContent {
    display: none;
    padding: 5px;
}

.error-log {
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.error-log button {
    margin-bottom: 0;
}

.error-log .scroller {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}

.error-log .scroller.visible {
    height: 120px;
}

.error-log .list {
    box-sizing: border-box;
    min-height: 120px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    margin: 0;
    overflow: auto;
    background-color: #fff;
}


.sidebar-controls {
    float: left;
    width: 44px;
    margin-left: -44px;
}

.sidebar-controls ul {
    margin-left: 0;
    padding-left: 0;
}

.sidebar-controls a {
    width: 40px;
    padding: 0;
}

.right-side-toggle .query {
    display: none;
}

.right-side-toggle.active svg {
    display: none;
}

.right-side-toggle.active svg.query {
    display: inline;
}

.fullscreen-toggle .fullscreen-close {
    display: none;
}

.fullscreen-toggle.active svg {
    display: none;
}

.fullscreen-toggle.active svg.fullscreen-close {
    display: inline;
}

.inner,
.inner-wrap,
.main-section,
.row,
.off-canvas-wrap,
#wrapper_main,
.inner-wrap>div {
    height: 100%;
}

.main-section {
    height: calc(100% - 2.8125rem - 30px);
    position: relative;
    top: 15px;
}


.CodeMirror {
    height: calc(100% - 60px);
}

.query {
    height: calc(100% - (37px + 1rem));
}

#send_rdf {
    position: relative;
    top: -2.7rem;
    left: 0.7rem;
}

div.read-only {
    pointer-events: none;
    opacity: 0.5;
}


#luposgraph,
#luposgraphOP {
    height: 100%;
    width: 100%;
}

#vis-network {
    height: 80%;
    width: 100%;
}

#luposlegend {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    z-index: 12;
}

#coreSparqlQuery {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    white-space: pre-wrap;
    font-size: 14px;
    padding: 10px 15px 0 0;
    z-index: 10;
    background-color: #fff;
    height: calc(100% - 35px);
}

.luposgraphwrapper {
    border: 0;
    height: 100%;
    position: relative;
}

.astChooser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 11;
    background: #fff;
}

#opluposlegend {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    box-sizing: border-box;
    z-index: 12;
}

#luposlegend .box {
    height: 30px;
    margin: 5px;
    width: 30px;
    background: teal;
    float: left;
}

#luposlegend .box-desc {
    line-height: 40px;
    float: left;
}

.legendDiv {
    float: left;
    padding: 0.1em;
    width: 9.5em;
    text-align: center;
    margin: 0.5em;
}

.side-nav-graph {
    position: absolute;
    right: 0;
    top: 0px;
    margin-right: 0%;
    width: 3%;
    display: block;
    list-style-position: outside;
    list-style-type: none;
    padding: 0.875rem 0;
}

.side-nav-graph img {
    width: 20px;
    margin-left: 10px;
}

.side-nav-graph ul {
    list-style: none;
    margin: 0;
}

.side-nav-graph li a:not(.button) {
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

.side-nav-graph svg {
    width: 17px;
    height: 17px;
}

.side-nav-graph li {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0 0 0.4375rem 0;
}

.side-nav-graph li a:not(.button) {
    color: #008CBA;
    display: block;
    margin: 0;
    padding: 0.4375rem 0.875rem;
}

.side-nav-graph li a:not(.button):hover,
.side-nav-graph li a:not(.button):focus {
    background: rgba(0, 0, 0, 0.025);
    color: #1cc7ff;
}

.side-nav-graph li a:not(.button):active {
    color: #1cc7ff;
}

.side-nav-graph li.active>a:first-child:not(.button) {
    color: #1cc7ff;
    font-weight: normal;
}

.side-nav-graph li.divider {
    border-top: 1px solid;
    height: 0;
    list-style: none;
    padding: 0;
    border-top-color: #e6e6e6;
}

.side-nav-graph li.heading {
    color: #008CBA;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
}

.link-checkbox-wrapper {
    position: relative;
}

.eval-get-graph {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*margin: 0.3rem 0rem 0rem 1rem; */
    margin: 0;
    float: left;
}

#getGraph {
    display: none;
}

.label-with-graph {
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    line-height: 10px;
    margin: 0;
    margin-left: calc(2rem + 5px);
    text-align: left;
    color: #fff;
}








.result-tab-content {
    overflow: auto;
    height: 100%;
}





.my-tabs {
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
}

.my-tab-links:after {
    display: block;
    clear: both;
    content: '';
    margin-bottom: 0;
}

.my-tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;

}

.my-tab-links a {
    padding: 1rem 2rem;
    display: block;
    background-color: #EFEFEF;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
}

.my-tab-links a:hover {
    cursor: pointer;
    background-color: #e1e1e1;
    text-decoration: none;
}

.my-tab-links li.active a,
.my-tab-links li.active a:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: inset #008CBA 0 3px 0 0;
    color: #4c4c4c;
}

.my-tab-content {
    padding: 15px;
    border-radius: 3px;
    height: calc(100% - 60px);
    position: relative;
}

.my-tab {
    display: none;
}

.my-tab.active {
    display: block;
    height: calc(100% - 60px);
}
.right-off-canvas-menu {
    width: 20rem;
}
.move-left > .inner-wrap {
    transform: translate3d(-20rem, 0, 0); /*this must be the same as the width in '.right-off-canvas-menu' */
}
