// Foundation settings and framework
@import "settings";
@import "../bower_components/foundation/scss/foundation.scss";
@import "loading";
@import "codemirror_overrides";
@import "results";
@import "graphs";

body {
    font-family: 'Source Sans Pro';
}

.rowSettings {
    display: flex;
}

.columnSettings {
    flex: 50%;
}

.top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
    background: $primary-color;
    color: #fff;
}

.name {
    width: 225px;
}

li.name img {
    width: 45px;
    float: left;
    margin-right: 5px;
}


.side-nav {
    width: 3%;
    float: left;
    margin-left: -3%;

    ul {
        list-style: none;
        margin: 0;
    }
    li a:not(.button) {
        padding-left: 0;
        padding-right: 0;
        display: block;
        text-align: center
    }

    svg {
        width: 17px;
        height: 17px;
    }
}

.toggle:hover {
    cursor: pointer;
}

ul.off-canvas-list li label {
    background: #008cba;
    color: #fff;
    border-top: 1px solid #007095;
}

.right-small {
    border-left: 1px solid #007095;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: #007095;
}

.buttonarea {
    text-align: right;

    .button {
        margin-left: 5px;
    }
}

.columns {
    border: solid 1px #ccc;
    background-color: #FFF;
    &:last-child {
        border-left: none
    }
}

.main-section.full {
    > .row {
        max-width: none;
    }
    .off-canvas-wrap {
        width: 94%;
    }
    .side-nav {
        margin-left: 0;
    }
}

.side-nav-right {
    float: right;
    margin-right: 10px;
    margin-top: -455px;
    width: 35px;

    img {
        width: 20px;
        margin-left: 10px;
    }
}

select {
    width: 68%;
}

#pitchContent {
    display: none;
    padding : 5px;
}

.error-log {
    position: fixed;
    bottom: 0;
    z-index: 999;

    button {
        margin-bottom: 0;
    }

    .scroller {
        transition: 0.5s;
        height: 0;
        overflow: hidden;
    }
    .scroller.visible {
        height: 120px;
    }

    .list {
        box-sizing: border-box;
        min-height: 120px;
        border: 1px solid $secondary-color;
        padding: 20px;
        margin: 0;
        overflow: auto;
        background-color: #fff;
    }
}

.tabs-content > .content {
    overflow: auto
}

.tabs .move {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
    color: $secondary-color;
    line-height: 100%;
    &:hover {
        color: $primary-color;
    }
}

.sidebar-controls {
    float: left;
    width: 44px;
    margin-left: -44px;

    ul {
        margin-left: 0;
        padding-left: 0;
    }
    a {
        width: 40px;
        padding: 0;
    }
}

.right-side-toggle {
    .query {
        display: none;
    }

    &.active {
        svg {
            display: none;
        }
        svg.query {
            display: inline;
        }
    }
}

.fullscreen-toggle {
    .fullscreen-close {
        display: none;
    }

    &.active {
        svg {
            display: none;
        }
        svg.fullscreen-close {
            display: inline;
        }
    }
}

.inner, .inner-wrap, .main-section, .row, .off-canvas-wrap, #wrapper_main, .inner-wrap > div, .tabs-container, .tabs-content {
    height: 100%;
}
.main-section {
    height: calc(100% - 2.8125rem - 30px);
    position: relative;
    top: 15px;
}
.tabs-content .content {
    height: 93%;
}

.CodeMirror {
    height: 91%;
}

.query {
    height: calc(100% - (37px + 1rem));
}

#send_rdf {
    position: absolute;
    top: 1.5rem;
    left: 0.7rem;
}

div.read-only {
    pointer-events: none;
    opacity: 0.5
}

.tabs a {
    box-shadow: inset rgba(0,0,0,0.2) 0 -5px 5px -5px;
}

.tabs dd.active a {
    box-shadow: inset $primary-color 0 3px 0 0;
}

#luposgraph, #luposgraphOP {
  height: 100%;
  width: 100%;
}

#vis-network {
    height: 80%;
    width: 100%;
}

#luposlegend {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0px;
  background: #fff;
  width: 100%;
  height: 40px;
  padding: 0;
  box-sizing:border-box;
  z-index:12;
}

#coreSparqlQuery{
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  white-space: pre-wrap;
  font-size: 14px;
  padding: 10px 15px 0 0;
  z-index: 10;
  background-color: #fff;
  height: calc(100% - 35px);
}

.luposgraphwrapper{
  border:0;
  height: 100%;
  position: relative;
}
.astChooser{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 20px;
  z-index:11;
  background: #fff;
}
#opluposlegend {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0px;
  background: #fff;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  box-sizing:border-box;
  z-index:12;
}

#luposlegend .box{

  height: 30px;
  margin:5px;
  width: 30px;
  background: teal;
  float:left;
}
#luposlegend .box-desc{
  line-height: 40px;
  float:left;
}


.legendDiv {
  float: left;
  padding: 0.1em;
  width: 9.5em;
  text-align: center;
  margin: 0.5em;
}



.side-nav-graph {
  position: absolute;
  right: 0;
  top: 0px;
  margin-right: 0%;
  width: 3%;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-position: outside;
  list-style-type: none;
  padding: 0.875rem 0
}
.side-nav-graph img {
  width: 20px;
  margin-left: 10px; }


.side-nav-graph ul {
  list-style: none;
  margin: 0; }

.side-nav-graph li a:not(.button) {
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center; }

.side-nav-graph svg {
  width: 17px;
  height: 17px; }


.side-nav-graph li {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 0 0.4375rem 0; }

.side-nav-graph li a:not(.button) {
  color: #008CBA;
  display: block;
  margin: 0;
  padding: 0.4375rem 0.875rem; }

.side-nav-graph li a:not(.button):hover, .side-nav-graph li a:not(.button):focus {
  background: rgba(0, 0, 0, 0.025);
  color: #1cc7ff; }

.side-nav-graph li a:not(.button):active {
  color: #1cc7ff; }

.side-nav-graph li.active > a:first-child:not(.button) {
  color: #1cc7ff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal; }

.side-nav-graph li.divider {
  border-top: 1px solid;
  height: 0;
  list-style: none;
  padding: 0;
  border-top-color: #e6e6e6; }

.side-nav-graph li.heading {
  color: #008CBA;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase; }
.link-checkbox-wrapper{
  position: relative;
}

.eval-get-graph {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*margin: 0.3rem 0rem 0rem 1rem; */
  margin:0;
  float:left;
}

#getGraph {
  display: none; }

.label-with-graph{
  font-size: 10px;
  position: absolute;
  bottom:-10px;
  left:0;
  right:0;
  height: 10px;
  line-height: 10px;
  margin: 0;
  margin-left: calc(2rem + 5px);
  text-align: left;
  color: #fff;
}
