@import "~bootstrap/scss/bootstrap";
.luposColor {
    background: #008CBA;
    color: #fff;
}
.hidden{
display:none;
}
.rcorners2 {
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 20px; 
}
@import "./html_result_style.css";
