PREFIX bsbm: <http://www4.wiwiss.fu-berlin.de/bizer/bsbm/v01/vocabulary/>
PREFIX rev: <http://purl.org/stuff/rev#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>  
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>  
PREFIX foaf: <http://xmlns.com/foaf/0.1/>  
PREFIX dc: <http://purl.org/dc/elements/1.1/>  
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>  
PREFIX bsbm-inst: <http://www4.wiwiss.fu-berlin.de/bizer/bsbm/v01/instances/>  
PREFIX dataFromProducer1: <http://www4.wiwiss.fu-berlin.de/bizer/bsbm/v01/instances/dataFromProducer1/>  
PREFIX dataFromVendor1: <http://www4.wiwiss.fu-berlin.de/bizer/bsbm/v01/instances/dataFromVendor1/>  
PREFIX dataFromRatingSite1: <http://www4.wiwiss.fu-berlin.de/bizer/bsbm/v01/instances/dataFromRatingSite1/>  

SELECT *
WHERE {
    %Product1% rdfs:label ?label .
    %Product1% rdfs:comment ?comment .
    %Product1% bsbm:producer ?p .
    ?p rdfs:label ?producer .
    %Product1% dc:publisher ?p .
    %Product1% bsbm:productFeature ?f .
    ?f rdfs:label ?productFeature .
    %Product1% bsbm:productPropertyTextual1 ?propertyTextual1 .
    %Product1% bsbm:productPropertyTextual2 ?propertyTextual2 .
    %Product1% bsbm:productPropertyTextual3 ?propertyTextual3 .
    %Product1% bsbm:productPropertyNumeric1 ?propertyNumeric1 .
    %Product1% bsbm:productPropertyNumeric2 ?propertyNumeric2 .
     %Product1% bsbm:productPropertyTextual4 ?propertyTextual4 .
     %Product1% bsbm:productPropertyTextual5 ?propertyTextual5 .
}
